<section id="buscador__equipos">
  <h2 class="busc__titulo centrado">Buscá el escudo de tu equipo favorito</h2>
  <div class="contenedorCarrusel">
    <div class="itemCarrusel" id="equipoElementoCarrusel-1">
      <div class="tarjetasCarrusel centrado" id="equipoElementoCarrusel-1">
        <img src="/img/escudos/river.png" alt="" class="carruselImg" />
      </div>
      <div class="flechasCarrusel">
        <a href="#equipoElementoCarrusel-5">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="#equipoElementoCarrusel-2">
          <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="itemCarrusel" id="equipoElementoCarrusel-2">
      <div class="tarjetasCarrusel centrado" id="equipoElementoCarrusel-2">
        <img src="/img/escudos/boca.png" alt="" class="carruselImg" />
      </div>
      <div class="flechasCarrusel">
        <a href="#equipoElementoCarrusel-1">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="#equipoElementoCarrusel-3">
          <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="itemCarrusel" id="equipoElementoCarrusel-3">
      <div class="tarjetasCarrusel centrado" id="equipoElementoCarrusel-3">
        <img src="/img/escudos/racing.png" alt="" class="carruselImg" />
      </div>
      <div class="flechasCarrusel">
        <a href="#equipoElementoCarrusel-2">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="#equipoElementoCarrusel-4">
          <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="itemCarrusel" id="equipoElementoCarrusel-4">
      <div class="tarjetasCarrusel centrado" id="equipoElementoCarrusel-4">
        <img src="/img/escudos/sanLorenzo.png" alt="" class="carruselImg" />
      </div>
      <div class="flechasCarrusel">
        <a href="#equipoElementoCarrusel-3">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="#equipoElementoCarrusel-5">
          <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="itemCarrusel" id="equipoElementoCarrusel-5">
      <div class="tarjetasCarrusel centrado" id="equipoElementoCarrusel-5">
        <img src="/img/escudos/defyJust.png" alt="" class="carruselImg" />
      </div>
      <div class="flechasCarrusel">
        <a href="#equipoElementoCarrusel-4">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
        <a href="#equipoElementoCarrusel-1">
          <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
