<div class="cardItem d-flex-c centrado">
  <div class="card__escudos d-flex-r w-75">
    <img
      src="/img/escudos/ligaArgentina.png"
      alt=""
      class="card__escudo alinear-izq"
    />
    <img src="/img/escudos/river.png" alt="" class="card__escudo alinear-der" />
  </div>
  <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
  <img
    src="/img/camisetasRiver/Camiseta_de_Juego_Titular_River_Plate_22-23.png"
    alt=""
    class="card__fotoRemera"
  />
  <a href="/detail" class="card__txt">
    Camiseta de juego titular<br />Temporada 22-23<br />Hombre
  </a>
  <div class="divisor"></div>
  <div class="d-flex-r w-75">
    <p class="card__precio alinear-izq">$57.299</p>
    <p class="card__envio alinear-der">ENVIO GRATIS</p>
  </div>
</div>
