<link rel="stylesheet" href="../../publics/css/footer.css">

<div class="footer_contenedor">
    <div class="logo">
        <img src="/img/logo 1.png" alt="logo la casaca">
        <h4>"Vistiendo con pasión"</h4>
    </div>
    <div class="links_">
        <div>
            <div>
                <p>Terminos y condiciones <a href="#"> <img class="flecha" src="/img/iconolink.png" alt=""></a></p>
                <p>Preguntas frecuentes <a href="#"> <img class="flecha" src="/img/iconolink.png" alt=""></a></p>
            </div>

            <div>
                <p>Como comprar <a href="#"> <img class="flecha" src="/img/iconolink.png" alt=""></a></p>
                <p>Politicas de cambio <a href="#"> <img class="flecha" src="/img/iconolink.png" alt=""></a></a></p>
            </div>

        </div>

    </div>

    <div class="iconos">
        <div>

            <a href="#">
                <img src="/img/facebook_ico.png" alt="">
            </a>
            <a href="#">
                <img src="/img/instagram_ico.png" alt="">
            </a>
        </div>
        <div>

            <a href="#">
                <img src="/img/twitter_ico.png" alt="">
            </a>
            <a href="#">
                <img src="/img/tik-tok_ico.png" alt="">
            </a>
        </div>
    </div>





    <div class="parrafo">
        <p>
            2023 La Casaca | todos los derechos reservados
        </p>
    </div>

</div>