
<div class="header__Navbar">
    <div class="headerNavbar__Logo">
        <a href="/">
            <img src="/img/logo.png" alt="Logo" height="50" />
        </a>
    </div>
    <div class="headerNavBar__busqueda">
        <input type="text" placeholder="Busca tu remera por club, liga o equipo">
    </div>
    <div class="headerLinks">
        <div>
            <a href="#"><i class="fas fa-adjust"></i><br>Modo</a>
        </div>
        <div>
            <a href="#"><i class="far fa-id-card"></i><br>Contacto</a>
        </div>
        <div>
            <a href=""><i class="fas fa-heart"></i><br>Favoritos</a>
        </div>
        <div>
            <a href="/carrito"><i class="fas fa-shopping-cart"></i><br>Carrito</a>
        </div>
        <!-- <div>
            <a href="/login"><i class="fas fa-users"></i><br>Mi cuenta</a>
        </div> -->
        <%- include('../partials/user-options.ejs')%>
    </div>
</div>