<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error</h1>
    <p>Se ha producido un error. Por favor, vuelva a intentarlo más tarde.</p>
  </body>
</html>
