<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css">
    <title>La Casaca</title>
  </head>
  <body>
    <header>
      <div class="headerNavbar">
        <div class="headerNavbarLogo">
            <img src="/img/logo.png" alt="Logo" height="50">
        </div>
        <div class="headerLinks">
            <a href="#">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Contactanos</a>
            <a href="#">Registrar</a>
            <a href="#">Nosotros</a>
        </div>
        <div class="headerCarrito">
           <!-- aca poner los iconos de login y carrito -->
        </div>
    </div>
    </header>
  </body>
</html>
