<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<title>Página de login</title>
<link rel="shortcut icon" href="/logo 1.png" type="image/x-icon">

</head>
<body>
  <header id="header"></header>
  <div class="container">
    <div class="left-side">
      <img src="/logo 1.png" alt="Logo">
      <h1>¡Que bueno verte por aquí!</h1>
      <h2>¿Entramos a la cancha?</h2>
      <button>Volver Atrás</button>
    </div>
    <div class="right-side">
      <h2>Ingresar a mi cuenta:</h2>
      <div class="card-input">
        <label class="titulo" for="usuario">Usuario:</label>
        <br>
        <input class="didi" type="text" id="usuario" name="usuario" required>

      </div>
      <div class="card-input">
        <label class="titulo" for="contrasena">Contraseña:</label>
        <br>
        <input class="didi" type="password" id="contrasena" name="contrasena" required>
      </div>
      <div class="titulo" class="checkbox-label">
        <input type="checkbox" id="recordar" name="recordar">
        <label class="checkbox-input" for="recordar">Recordar usuario</label>
      </div>
      <div class="boton">
        <button>Ingresar</button>
      </div>
      
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
      
      
    </div>
    
    
  </div>
  <div class="contenedor">
    <div class="register-button">
    </div>
    <div class="register-button">
      <p>¿No tienes cuenta?
      <br>
      <a href="../registro/registro.html">
      <button>Crear mi cuenta</button></p>
      </a>
    </div>

  </div>

  
  <script src="/js/loadcomponent.js"></script>
  
</body>
</html>
