<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle del producto</title>
</head>

<body>
    <header id="header"></header>
    <div>
        <img src="/img/camisetasBoca/camiseta_Boca_2023.png" alt="">
    </div>
    <div>
        <div>
            <h1>Camiseta Titular Boca 2023</h1>
            <p>Código de Articulo: 0000123</p>
            <h1>$33000</h1>

        </div>
        <div>
            <hr>
            <div>
                <i class="fas fa-credit-card"></i>
                <a>Ver opciones de pago</a>
            </div>
            <div>
                <i class="fas fa-truck"></i>
                <a>Ver medios de envio</a>
            </div>
            <hr>
        </div>
        <div>
            <h4>Seleccion tu talle</h4>
            <ul>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
        </div>
        <div>
            <i class="fas fa-shopping-cart"></i>
            <p>Agregar al Carrito</p>
            <i class="fas fa-heart"></i>
            <p>Agregar a Favoritos</p>
            <i class="fas fa-paper-plane"></i>
            <p>Compartir</p>
        </div>
    </div>
</body>
<script src="/js/loadComponent.js"></script>

</html>