.footer {
    background-color: azure;
    
}

.logo img{
    width: 65px;
    border-radius: 50%;
}

.iconos img {
    width: 65px;
    border-radius: 50%;
}


.flecha {
    direction: ltr;
    width: 16px;
    height: 16px;
}




.footer_contenedor {
    display: flex;
    
}

.logo, .links_, .iconos {
    flex: 1;
  }

  .logo, .links_ {
    border-right: 1px solid black;
    height: 80%;
    margin-top: 2%;
  }

.parrafo {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.parrafo p{
    text-align: center;
}

.parrafo {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
