/*ESTILOS BANNER PRINCIPAL*/
#banner__principal {
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(28, 28, 28, 0.55), rgba(28, 28, 28, 0.55)),
    url("/img/img-banner-principal.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}

.banner__ppal--txt {
  font-size: 3rem;
  color: white;
}

.banner__ppal--img-logo {
  width: 25vw;
}

#banner__seleccion {
  background: linear-gradient(rgba(28, 28, 28, 0.55), rgba(28, 28, 28, 0.55)),
    url("/img/img-banner-seleccion.jpg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}
