* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*CLASES REUTILIZABLES*/

.section-title {
  font-size: 2rem;
  margin: 2rem auto 1rem 3rem;
}

.d-flex-r {
  display: flex;
  flex-direction: row;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
}

.centrado {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.alinear-izq {
  margin: 0 auto 0 0;
}

.alinear-der {
  margin: 0 0 0 auto;
}

.divisor {
  width: 95%;
  background-color: #000;
  height: 2px;
  border-radius: 100%;
}

.w-75 {
  width: 75%;
}

/*ESTILOS DEL HEADER*/

.headerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072e51;
  padding: 0.5rem 8rem;
}

.headerNavbarLogo img {
  display: block;
  width: 7rem;
  height: 7rem;
}

.headerLinks a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

.headerLinks a:hover {
  color: white;
  text-decoration: underline;
}

/*ESTILOS BANNER PRINCIPAL*/
#banner__principal {
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(28, 28, 28, 0.55), rgba(28, 28, 28, 0.55)),
    url("/img/img-banner-principal.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}

.banner__ppal--txt {
  font-size: 3rem;
  color: white;
}

.banner__ppal--img-logo {
  width: 25vw;
}

/*ESTILOS DE BUSCADORES TIPO CARRUSEL*/
#buscador__ligas,
#buscador__equipos {
  color: white;
  background-color: #072e51;
  padding-top: 1rem;
}

.contenedorCarrusel {
  height: 120px;
  overflow: hidden;
}

.itemCarrusel {
  height: 120px;
  position: relative;
}

.tarjetasCarrusel {
  height: 100%;
}

.flechasCarrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}

.carruselImg {
  height: 100px;
}

.flechasCarrusel > svg {
  background-color: white;
}

/*ESTILOS CARDS*/
.card__contenedor {
  justify-content: space-around;
}

.cardItem {
  width: 26vw;
  border: 1px solid black;
  border-radius: 15px;
  margin: 2rem 1rem;
}

.card__escudos {
  margin-top: 0.8rem;
}

.card__escudo {
  height: 40px;
}

.card__fotoRemera {
  width: 80%;
}

.card__txt {
  font-size: 24px;
  margin-bottom: 1rem;
}

.card__precio,
.card__envio {
  font-weight: 800;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
