main {
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(28, 28, 28, 0.55), rgba(28, 28, 28, 0.55)),
    url("/img/img-banner-principal.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}

#carrito {
  background-color: rgba(28, 28, 28, 0.55);
  width: 80%;
  height: 80%;
}

.titulo {
  font-size: 1.2rem;
  text-align: left;
  margin: 1rem;
}

.detalles,
.finalizar,
textarea {
  width: 90%;
}

.detalle {
  height: 30%;
  margin: 1rem;
}

.codigoArt {
  font-size: 0.7rem;
}

.variable {
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  background-color: rgba(28, 28, 28, 0.55);
  text-align: center;
  border: none;
  margin: 0 2rem;
  padding: 0.5rem;
}

.basurero {
  background: none;
  font-size: 1.2rem;
}

label {
  text-align: left;
  margin: 0.5rem;
}

textarea {
  height: 10vh;
  background-color: rgba(28, 28, 28, 0.55);
  color: white;
  resize: none;
}

.subt {
  padding: 0.5rem 1rem;
}

.total {
  font-size: 1.2rem;
  font-weight: 600;
}

.finalizarCompra,
.flecha {
  display: flex;
  align-self: center;
  width: 80%;
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  background-color: #072e51;
}

.flecha {
  font-size: 0.6rem;
  width: 90%;
  margin-bottom: 0.5rem;
}

.flecha > i {
  margin-left: 1rem;
}

.pagoSeguro {
  font-size: 0.8rem;
  margin-top: 1rem;
}
