@media screen and (max-width: 950px) {
  /*BANNER PRINCIPAL*/
  #banner__principal {
    height: 60vw;
  }

  .banner__ppal--txt {
    font-size: 1.8rem;
  }

  .banner__ppal--img-logo {
    width: 25vw;
  }

  /*CARRUSEL*/

  .carruselImg {
    height: 80px;
  }

  /*BANNER SELECCIÓN*/
  #banner__seleccion {
    height: 30vh;
  }

  #banner__seleccion .banner__selec--txt {
    font-size: 2rem;
  }

  #banner__seleccion .banner__ppal--img-logo {
    width: 25vw;
  }

  /*CARDS*/
  .cardItem {
    width: 80vw;
  }

  /*PRODUCT CART*/
  #carrito {
    heigth: auto;
    }
  
  .detalles,
.finalizar{
  width: 90vw;
  }

  textarea {
  heigth: 5vw;
  }

  .detalle__img {
    width: 3rem;
    margin: 0.5rem;
   }

  .variable {
    width: 40px;
    margin: 0.5rem 1rem;
    }

  .
}
