@media screen and (max-width: 750px) {
  /*BANNER PRINCIPAL*/
  #banner__principal {
    height: 60vw;
  }

  .banner__ppal--txt {
    font-size: 1.8rem;
  }

  .banner__ppal--img-logo {
    width: 25vw;
  }

  /*CARRUSEL*/

  .carruselImg {
    height: 80px;
  }

  /*BANNER SELECCIÓN*/
  #banner__seleccion {
    height: 30vh;
  }

  #banner__seleccion .banner__selec--txt {
    font-size: 2rem;
  }

  #banner__seleccion .banner__ppal--img-logo {
    width: 25vw;
  }

  /*CARDS*/
  .cardItem {
    width: 80vw;
  }

  /*PRODUCT CART*/
  #carrito {
  }

  .detalles,
  .finalizar {
    width: 90%;
  }

  .titulo {
    font-size: 2rem;
    text-align: left;
    margin: 1rem;
    margin-left: 0;
  }

  .detalle {
    margin: 0;
    padding: 1rem 0 0 0;
    height: 10rem;
  }

  .detalle__img {
    height: 70%;
    margin-left: 0.5rem;
    margin-right: 0.1rem;
  }

  .detalle__datos {
    margin-bottom: 0.3rem;
  }

  .variable {
    color: white;
    width: 40px;
    height: 30px;
    margin: 0.5rem;
  }

  .comentarios {
    margin-bottom: 1rem;
  }

  textarea {
    width: 60vw;
    height: 5vw;
  }
}
