/*estilos globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*CLASES REUTILIZABLES*/

.banner__ppal--img-logo {
  width: 25vw;
}

.section-title {
  font-size: 2rem;
  margin: 2rem auto 1rem 3rem;
}

.d-flex-r {
  display: flex;
  flex-direction: row;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
}

.centrado {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.alinear-izq {
  margin: 0 auto 0 0;
}

.alinear-der {
  margin: 0 0 0 auto;
}

.divisor {
  width: 90%;
  background-color: #000;
  height: 2px;
  border-radius: 1px;
}

.w-75 {
  width: 75%;
}

.error-card {
  justify-content: center;
  align-items: center;
  background-color: red;
  border: thin solid darkred;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

/*ESTILOS DEL HEADER*/

.header__Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072e51;
  padding: 0.1rem 2rem;
}

.headerNavBar__busqueda {
  flex: 1;
  margin-left: 20px;
  margin-left: 10rem;
}

.headerNavBar__busqueda input[type="text"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.headerNavbar__Logo img {
  display: block;
  width: 3rem;
  height: 3rem;
}

.headerLinks a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

.headerLinks a:hover {
  color: white;
  text-decoration: underline;
}

.headerLinks {
  margin-left: 20px;
  color: white;
}

.headerLinks i {
  width: 25px;
  height: 25px;
  color: #a1ccec;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.headerLinks div {
  display: inline-block;
  align-items: center;
}
.headerLinks a {
  text-align: center;
  display: block;
}

.headerLinks a:hover {
  color: burlywood;
  text-decoration: none;
}

/*ESTILO MENU HEADER - SESSION*/

#menu>li>ul{
  position: absolute;
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

#menu {
 color: #a1ccec;
}
#menu:hover {
  color: #DEB887;
  
}


/*ESTILOS DE BUSCADORES TIPO CARRUSEL*/
#buscador__ligas,
#buscador__equipos {
  color: white;
  background-color: #072e51;
  padding-top: 1rem;
}

.busc__titulo {
  font-size: 1.2rem;
}

.contenedorCarrusel {
  height: 60px;
  overflow: hidden;
}

.itemCarrusel {
  height: 60px;
  position: relative;
}

.tarjetasCarrusel {
  height: 100%;
}

.flechasCarrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}

.carruselImg {
  height: 40px;
}

.flechasCarrusel > svg {
  background-color: white;
}

/*responsive header mobile */
@media (width < 950px) {
  .header__Navbar {
    background-color: #072e51;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .headerNavBar__busqueda input[type="text"] {
    width: 100%;
  }
  .headerNavBar__busqueda {
    margin-left: 0;
    padding-bottom: 1rem;
  }
}

/*Estilos de las cards*/
.card__contenedor {
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardItem {
  width: 26vw;
  border: 1px solid black;
  border-radius: 15px;
  margin: 2rem 1rem;
}

.card__escudos {
  margin-top: 0.8rem;
}

.card__escudo {
  height: 40px;
}

.card__txt {
  font-size: 20px;
  margin-bottom: 1rem;
}

.card__precio,
.card__envio {
  font-weight: 800;
  font-size: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card__fotoRemera {
  width: 70%;
  height: 60%;
}

/*ENLACES A OTRA PÁGINA*/
.irPagEspContenedo {
  width: 100%;
}

.irPaginaEspecifica {
  display: block;
  text-align: right;
  width: 95%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.irPaginaEspecifica:hover {
  color: #154e7f;
}

/*BANNER DE LA SELECCIÓN*/
#banner__seleccion {
  background: linear-gradient(rgba(28, 28, 28, 0.55), rgba(28, 28, 28, 0.55)),
    url("/img/img-banner-seleccion.jpg");
  height: 90vh;
  width: 100%;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}

#banner__seleccion .banner__selec--txt {
  font-size: 3rem;
  color: rgba(28, 28, 28, 0.85);
  padding: 0.8rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.55);
}