<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <title>Página de login</title>
  <link rel="shortcut icon" href="/img/logo 1.png" type="image/x-icon">

</head>

<body>
  <%- include('../partials/header.ejs')%>
    <div class="container">
      <div class="left-side">
        <img src="/img/logo 1.png" alt="Logo">
        <h1>¡Que bueno verte por aquí!</h1>
        <h2>¿Entramos a la cancha?</h2>
        <button><a href="/"> Atrás</a></button>
      </div>
      <div class="right-side">
        <h2>Ingresar a mi cuenta:</h2>
        <% if (typeof errors !=='undefined' && errors.length> 0) { %>
          <ul>
            <% errors.forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }); %>
          </ul>
          <% } %>
            <div class="errores"></div>
            <form method="post" action="/users/login">
              <div class="card-input">
                <label class="titulo" for="email">Correo:</label>
                <br>
                <input class="didi" type="text" id="email" name="email" required>
              </div>
              <div class="card-input">
                <label class="titulo" for="contrasenia">Contraseña:</label>
                <br>
                <input class="didi" type="password" id="contrasenia" name="contrasenia" required>
              </div>
              <div class="titulo checkbox-label">
                <input type="checkbox" id="recordar" name="recordar">
                <label class="checkbox-input" for="recordar">Recordar usuario</label>
              </div>

              <div class="boton">
                <button type="submit">Ingresar</button>
              </div>
            </form>

            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
      </div>
    </div>
    <div class="contenedor">
      <div class="register-button">
      </div>
      <div class="register-button centrado">
        <p>¿No tienes cuenta?
          <br>
          <a href="/register">
            <button>Crear mi cuenta</button>
        </p>
        </a>
      </div>
    </div>
</body>

<%- include('../partials/footer.ejs')%>
  <script src="/js/loadcomponent.js"></script>
  <script src="/js/loginValidator.js"></script>

</html>