<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>La Casaca</title>
  </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <section id="buscador__ligas">
        <h2 class="busc__titulo centrado">
          Elegí entre las mejores ligas del planeta
        </h2>
        <div class="contenedorCarrusel">
          <div class="itemCarrusel" id="ligaElementoCarrusel-1">
            <div class="tarjetasCarrusel centrado" id="ligaElementoCarrusel-1">
              <img
                src="/img/escudos/ligaArgentina.png"
                alt=""
                class="carruselImg"
              />
            </div>
            <div class="flechasCarrusel">
              <a href="#ligaElementoCarrusel-5">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#ligaElementoCarrusel-2">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="ligaElementoCarrusel-2">
            <div class="tarjetasCarrusel centrado" id="ligaElementoCarrusel-2">
              <img src="/img/escudos/serieA.png" alt="" class="carruselImg" />
            </div>
            <div class="flechasCarrusel">
              <a href="#ligaElementoCarrusel-1">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#ligaElementoCarrusel-3">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="ligaElementoCarrusel-3">
            <div class="tarjetasCarrusel centrado" id="ligaElementoCarrusel-3">
              <img
                src="/img/escudos/bundesliga.png"
                alt=""
                class="carruselImg"
              />
            </div>
            <div class="flechasCarrusel">
              <a href="#ligaElementoCarrusel-2">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#ligaElementoCarrusel-4">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="ligaElementoCarrusel-4">
            <div class="tarjetasCarrusel centrado" id="ligaElementoCarrusel-4">
              <img
                src="/img/escudos/ligaEspanola.png"
                alt=""
                class="carruselImg"
              />
            </div>
            <div class="flechasCarrusel">
              <a href="#ligaElementoCarrusel-3">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#ligaElementoCarrusel-5">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="ligaElementoCarrusel-5">
            <div class="tarjetasCarrusel centrado" id="ligaElementoCarrusel-5">
              <img
                src="/img/escudos/premierLeague.png"
                alt=""
                class="carruselImg"
              />
            </div>
            <div class="flechasCarrusel">
              <a href="#ligaElementoCarrusel-4">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#ligaElementoCarrusel-1">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="buscador__equipos">
        <h2 class="busc__titulo centrado">
          Buscá el escudo de tu equipo favorito
        </h2>
        <div class="contenedorCarrusel">
          <div class="itemCarrusel" id="equipoElementoCarrusel-1">
            <div
              class="tarjetasCarrusel centrado"
              id="equipoElementoCarrusel-1"
            >
              <img src="/img/escudos/river.png" alt="" class="carruselImg" />
            </div>
            <div class="flechasCarrusel">
              <a href="#equipoElementoCarrusel-5">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#equipoElementoCarrusel-2">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="equipoElementoCarrusel-2">
            <div
              class="tarjetasCarrusel centrado"
              id="equipoElementoCarrusel-2"
            >
              <img src="/img/escudos/boca.png" alt="" class="carruselImg" />
            </div>
            <div class="flechasCarrusel">
              <a href="#equipoElementoCarrusel-1">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#equipoElementoCarrusel-3">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="equipoElementoCarrusel-3">
            <div
              class="tarjetasCarrusel centrado"
              id="equipoElementoCarrusel-3"
            >
              <img src="/img/escudos/racing.png" alt="" class="carruselImg" />
            </div>
            <div class="flechasCarrusel">
              <a href="#equipoElementoCarrusel-2">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#equipoElementoCarrusel-4">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="equipoElementoCarrusel-4">
            <div
              class="tarjetasCarrusel centrado"
              id="equipoElementoCarrusel-4"
            >
              <img
                src="/img/escudos/sanLorenzo.png"
                alt=""
                class="carruselImg"
              />
            </div>
            <div class="flechasCarrusel">
              <a href="#equipoElementoCarrusel-3">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#equipoElementoCarrusel-5">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrusel" id="equipoElementoCarrusel-5">
            <div
              class="tarjetasCarrusel centrado"
              id="equipoElementoCarrusel-5"
            >
              <img src="/img/escudos/defyJust.png" alt="" class="carruselImg" />
            </div>
            <div class="flechasCarrusel">
              <a href="#equipoElementoCarrusel-4">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
              <a href="#equipoElementoCarrusel-1">
                <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="paginaDelClub" class="d-flex-c">
        <h2 class="section-title">Las mejores casacas de <%= clubes %></h2>
        <!--La variable clubes se deberá extraer de la URL-->
        <div class="card__contenedor d-flex-r">
          <% for (let i=1; i<10; i++) { %> <%-
          include('../partials/cards-club.ejs')%> <% } %>
        </div>
      </section>
      <section id="banner__seleccion" class="d-flex-c centrado">
        <p class="banner__selec--txt">Alentá a la selección con</p>
        <img
          src="/img/logo.png"
          alt="LA CASACA"
          class="banner__ppal--img-logo"
        />
      </section>
      <section id="ofertas">
        <h2 class="section-title">Mirá estas increibles ofertas</h2>
        <div class="card__contenedor d-flex-r">
          <div class="cardItem d-flex-c centrado">
            <div class="card__escudos d-flex-r w-75">
              <img
                src="/img/escudos/ligaArgentina.png"
                alt=""
                class="card__escudo alinear-izq"
              />
              <img
                src="/img/escudos/racing.png"
                alt=""
                class="card__escudo alinear-der"
              />
            </div>
            <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
            <img
              src="/img/camisetasRacing/Camiseta Racing Club Titular 2022.png"
              alt=""
              class="card__fotoRemera"
            />
            <a href="/detail" class="card__txt">
              Camiseta de juego titular<br />Temporada 22<br />Hombre
            </a>
            <div class="divisor"></div>
            <div class="d-flex-r w-75">
              <p class="card__precio alinear-izq">$24.999</p>
              <p class="card__envio alinear-der">ENVIO GRATIS</p>
            </div>
          </div>
          <div class="cardItem d-flex-c centrado">
            <div class="card__escudos d-flex-r w-75">
              <img
                src="/img/escudos/ligaArgentina.png"
                alt=""
                class="card__escudo alinear-izq"
              />
              <img
                src="/img/escudos/defyJust.png"
                alt=""
                class="card__escudo alinear-der"
              />
            </div>
            <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
            <img
              src="/img/camisetasDefyJust/DefyJust2020.png"
              alt=""
              class="card__fotoRemera"
            />
            <a href="/detail" class="card__txt">
              Camiseta alternativa<br />Temporada 20<br />Hombre
            </a>
            <div class="divisor"></div>
            <div class="d-flex-r w-75">
              <p class="card__precio alinear-izq">$29.999</p>
              <p class="card__envio alinear-der">ENVIO GRATIS</p>
            </div>
          </div>
          <div class="cardItem d-flex-c centrado">
            <div class="card__escudos d-flex-r w-75">
              <img
                src="/img/escudos/ligaArgentina.png"
                alt=""
                class="card__escudo alinear-izq"
              />
              <img
                src="/img/escudos/sanLorenzo.png"
                alt=""
                class="card__escudo alinear-der"
              />
            </div>
            <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
            <img
              src="/img/camisetasSanLorenzo/TerceraCamisetaSL2021.png"
              alt=""
              class="card__fotoRemera"
            />
            <a href="/detail" class="card__txt">
              Tercera camiseta<br />Temporada 21<br />Hombre
            </a>
            <div class="divisor"></div>
            <div class="d-flex-r w-75">
              <p class="card__precio alinear-izq">$22.999</p>
              <p class="card__envio alinear-der">ENVIO GRATIS</p>
            </div>
          </div>
        </div>
        <a href="#" class="irPaginaEspecifica">Ver más ingresos</a>
      </section>
    </main>
  </body>
  <%- include('../partials/footer.ejs')%>
  <script src="/js/loadComponent.js"></script>
</html>
