<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>La Casaca</title>
  </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="centrado">
      <section id="carrito" class="d-flex-r centrado">
        <div class="detalles d-flex-c centrado">
          <p class="titulo">Carrito de compras</p>
          <div class="divisor"></div>
          <div class="detalle d-flex-r centrado">
            <img
              src="/img/camisetasBoca/camiseta_Boca_2023.png"
              class="detalle__img centrado"
              alt="Camiseta"
            />
            <div class="detalle__datos d-flex-c centrado">
              <p class="detalle__title">Camiseta Titular Boca 2023</p>
              <p class="detalle__txt">Hombre</p>
              <p class="codigoArt">Código de Articulo: 0000123</p>
              <div class="variables d-flex-r centrado">
                <input type="number" value="1" class="variable" />
                <input type="text" value="M" class="variable" />
                <button class="basurero variable centrado" value="Borrar">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="comentarios d-flex-c">
            <label for="nota alinear-izq">Agregar una nota</label>
            <textarea name="nota" id="nota"></textarea>
          </div>
          <div class="divisor centrado"></div>
        </div>
        <div class="finalizar d-flex-c centrado">
          <p class="titulo">Resumen de la compra</p>
          <div class="subtotal d-flex-c">
            <div class="subt d-flex-r">
              <p class="subtotal__txt alinear-izq">Subtotal</p>
              <p class="subtotal__txt alinear-der">$33.000</p>
            </div>
            <div class="subt d-flex-r">
              <p class="subtotal__txt alinear-izq">Envío</p>
              <p class="subtotal__txt alinear-der">GRATIS</p>
            </div>
            <button class="flecha centrado" id="direccion-btn">
              S.F.V., Catamarca, Argentina
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
          </div>
          <div class="divisor"></div>
          <div class="subt d-flex-c centrado">
            <p class="total">Total</p>
            <p class="total">$33.000</p>
          </div>
          <button class="finalizarCompra centrado">FINALIZAR COMPRA</button>
          <p class="pagoSeguro">
            <i class="fa fa-shield" aria-hidden="true"></i> Pago seguro
          </p>
        </div>
      </section>
    </main>
  </body>
  <%- include('../partials/footer.ejs')%>
  <script src="/js/loadComponent.js"></script>
</html>
