<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>Detalle del producto</title>
  </head>

  <body>
    <%- include('../partials/header.ejs')%>
    <content>
      <div class="content__imagenes">
        <img src="/img/camisetasBoca/camiseta_Boca_2023.png" alt="" />
      </div>
      <div class="content__descripcion">
        <div class="content__descripcion--titulo">
          <h1>Camiseta Titular Boca 2023</h1>
          <h4>Hombre</h4>
          <p>Código de Articulo: 0000123</p>
          <h1 class="content__descripcion--precio">$33000</h1>
        </div>
        <div class="content__pagos">
          <hr />
          <div class="content__pagos--opciones">
            <div>
              <i class="fas fa-credit-card"></i>
              <a href="#">Ver opciones de pago</a>
            </div>
            <div>
              <i class="fas fa-truck"></i>
              <a href="#">Ver medios de envio</a>
            </div>
          </div>
          <hr />
        </div>
        <div class="content__talles">
          <h4>Selecciona tu talle</h4>
          <button>S</button>
          <button>M</button>
          <button>L</button>
          <button>XL</button>
          <button>XXL</button>
        </div>
        <div class="content__acciones">
          <div>
            <button>
              <i class="fas fa-shopping-cart"></i>
            </button>
            <p>Agregar al Carrito</p>
          </div>
        </div>
      </div>
    </content>
    <section id="ingresos" class="d-flex-c">
      <h2 class="section-title">Conocé nuestros más recientes ingresos</h2>
      <div class="card__contenedor d-flex-r">
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/boca.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasBoca/camiseta_Boca_2023.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Camiseta de juego titular<br />Temporada 22-23<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$57.299</p>
            <p class="card__envio alinear-der">ENVIO GRATIS</p>
          </div>
        </div>
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/sanLorenzo.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasSanLorenzo/SanLorenzoVisitante2023.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Camiseta de visitante<br />Temporada 23<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$35.999</p>
            <p class="card__envio alinear-der"></p>
          </div>
        </div>
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/defyJust.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasDefyJust/DefyJust2020.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Camiseta alternativa<br />Temporada 20<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$29.999</p>
            <p class="card__envio alinear-der">ENVIO GRATIS</p>
          </div>
        </div>
      </div>
      <a href="#" class="irPaginaEspecifica">Ver más ingresos</a>
    </section>
    <section id="banner__seleccion" class="d-flex-c centrado">
      <p class="banner__selec--txt">Alentá a la selección con</p>
      <img src="/img/logo.png" alt="LA CASACA" class="banner__ppal--img-logo" />
    </section>
    <section id="ofertas">
      <h2 class="section-title">Mirá estas increibles ofertas</h2>
      <div class="card__contenedor d-flex-r">
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/racing.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasRacing/Camiseta Racing Club Titular 2022.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Camiseta de juego titular<br />Temporada 22<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$24.999</p>
            <p class="card__envio alinear-der">ENVIO GRATIS</p>
          </div>
        </div>
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/defyJust.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasDefyJust/DefyJust2020.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Camiseta alternativa<br />Temporada 20<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$29.999</p>
            <p class="card__envio alinear-der">ENVIO GRATIS</p>
          </div>
        </div>
        <div class="cardItem d-flex-c centrado">
          <div class="card__escudos d-flex-r w-75">
            <img
              src="/img/escudos/ligaArgentina.png"
              alt=""
              class="card__escudo alinear-izq"
            />
            <img
              src="/img/escudos/sanLorenzo.png"
              alt=""
              class="card__escudo alinear-der"
            />
          </div>
          <!--NOTA: ROBÉ LAS FOTOS DE REMERAS DE ADIDAS-->
          <img
            src="/img/camisetasSanLorenzo/TerceraCamisetaSL2021.png"
            alt=""
            class="card__fotoRemera"
          />
          <a href="#" class="card__txt">
            Tercera camiseta<br />Temporada 21<br />Hombre
          </a>
          <div class="divisor"></div>
          <div class="d-flex-r w-75">
            <p class="card__precio alinear-izq">$22.999</p>
            <p class="card__envio alinear-der">ENVIO GRATIS</p>
          </div>
        </div>
      </div>
      <a href="#" class="irPaginaEspecifica">Ver más ingresos</a>
    </section>
  </body>
  <%- include('../partials/footer.ejs')%>
  <script src="/js/loadComponent.js"></script>
</html>
